*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    line-height: 80px;
    background-color: whitesmoke;
    box-shadow: 0px 2px 6px  rgb(194, 193, 193);
    
}
nav ul{
    float: right;
    margin-right: 100px;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    transition: 0.5s all ease-in-out;
}
nav ul i{
    font-size: 30px;
    padding-left: 20px;
}
.logo{
    font-size: 40px;
    font-weight: 500px;
    line-height: 80px;
    margin-left: 20px;
}
nav .active{
    color:rgb(5, 156, 149);
}
nav ul  li a:hover{
    
    cursor: pointer;
    text-decoration: underline;
    color: black;
}
.sticky{
    position:sticky;
    top: 0;
    z-index: 100;
}
.container {
    display: flex;
    align-items: center;
    height: 88vh;
    margin-bottom: 20px;
    
}
.content {
    padding-top: 100px;
    flex: 1;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    margin-left: 30px;
}
.content h2 {
    
    margin-bottom: 10px;
    font-size: 60px;
    color: rgb(24, 126, 126);
}
.content h3{
    font-size: 60px;
}

.content p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.content h4{
    padding-top: 30px;
    font-size: 18px;
}
.background-image {
    padding-top:5px ;
    flex: 1;
    height: 100%;
    width: 100%;
   background-position: center;
   background-size: cover;
   object-fit: cover;
}
.content button{
    margin-top: 10px;
    background-color: rgb(24, 126, 126);
    padding: 10px;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    text-align: center;
    transition: 0.5s all ease-in-out;
}
.content button:hover{
    background: transparent;
    color: black;
    border: 1px solid gray;
}
.shop{
    padding: 50px;
}
.cart{
    display: flex;
    justify-content: center;
    

}
.cart .cart-image{
    width: 290px;
    height: 550px;
    background-color: gainsboro;
    margin-inline: 11px;
    /* padding: 22px; */
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
    margin-bottom: 50px;
}
.cart .cart-image:hover{
    width: 300px;
    height: 560px;
}
.cart-image img{
    width:99%;
    padding: 22px;
    border-radius: 31px;
}
.cart-image h3{
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 10px;
}

.cart a{
    margin-left: 20px;
    margin-top: 25px;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(24, 126, 126);
    color: white;
    font-size: 24px;
    transition: 0.5s all ease-in-out;
}
.cart a:hover{
    background: transparent;
    color: black;
    border: 1px solid gray;
}
.cart-image .ico{
    padding-left: 20px;
    padding-bottom: 20px;
}
.cart-image .ico i{
    font-size: 20px;
    color: rgb(175, 175, 46);
}
.shop h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.blog{
    padding: 100px;
}
.blog h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.card{
    display: flex;
    
}
.blog-crd{
  display: flex;
  justify-content: center;
  width: 500px;
  height: 270px;
  background-color: rgb(223, 219, 219);
  margin-inline: 11px;
  border-radius: 11px;
  transition: 0.5s all ease-in-out;
}
.blog-crd img{
    padding: 22px;
    width: 51%;
    border-radius: 41px;
    
}
.blogtext{
    padding: 15px;
    margin-top: 20px;
}
.blogtext h2{
    font-size: 30px;
}
.blogtext p{
    margin-left: 18px;
   font-size: 20px;
}
.blog a{
    width: 120px;
    background:  rgb(24, 126, 126);
    margin-left: 18px;
    padding: 10px;
    color: white;
    font-size: 20px;
}
.blog-crd:hover{
    width: 510px;
    height: 280px;
}

.letter{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(4, 4, 85);
    padding: 43px;
}
.inp{
    display: flex;
}
.inp input{
    width: 330px;
    height: 33px;
    outline: none;
    font-size: 18px;
    border: none;
    margin-right: 5px;
    text-align:left;
    padding: 2px;
}
.inp button{
    width: 100px;
    height: 33px;
    background-color: rgb(8, 141, 141);
    color: white;
    border: none;
    font-size: 18px;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 53px;
}
.footer .footer-text{
    margin-inline: 70px;
    
}
.footer-text p{
    margin-top: 11px;
}
.footer-text h2{
    font-size: 30px;
}

.about-us{
    background-color: rgb(1,1,42);
    padding: 56px;
    color:white;
    font-size: 25px;
    
}
.me{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    width:800px;
    padding: 33px;
    margin-left: 22%;
    margin-top: 5%;
    font-size: 18px;
    margin-bottom: 5%;
}
.me img{
    width: 60%;
    padding-right: 10px;
}
.about{
    display: none;
}
.contact{
    display: none;
}
.Contact-us{
    background-color: rgb(1,1,42);
    padding: 56px;
    color:white;
    font-size: 25px;
}

.ContactMe{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-top: 5%;
    margin-left: 16%;
    background-color: whitesmoke;
    padding: 22px;
    font-size: 20px;
}
.ContactMe img{
    width: 58%;
    padding-right: 10px;
}
.contact-text h1{
    padding-bottom: 5px;
}
.contact-text p{
    padding-bottom: 5px;
}
.form{
    text-align: center;
    margin-top: 5%;
}
.form  input{
    width: 300px;
    height: 33px;
    margin-top: 11px;
    padding: 5px;
    outline: none;
}
.form button{
    width: 300px;
    height: 33px;
    background-color: rgb(24, 126, 126);
    color: white;
    font-size: 18px;
    margin-top: 22px;
    margin-bottom: 30px;
    border: none;
    transition: 0.5s all ease-in-out;
}
.form button:hover{
  background: transparent;
  color: black;
  border: 1px solid gray;
}
#scrollToTopBtn{
    position: fixed;
    bottom: 20px;
    right: 20px; /* Adjust this value to change the distance from the right side */
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.crd{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    display: none;
    margin-top: 5%;
}
.cart-text{
    padding: 22px;
    margin-top: 22px;
}
.cart-text p{
    margin-top: 11px;
    margin-bottom: 10px;
    font-size: 18px;
}
.cart-text h2{
    margin-top: 11px;
    font-size: 30px;
}
.crd button{
    width: 140px;
    height: 33px;
    background-color:rgb(24, 126, 126) ;
    margin-inline: 11px;
    border: none;
    color: white;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    
    font-size: 20px;
}
.crd img{
    
    width: 350px;
    height: 550px;
}

.crd button:hover{
   background-color: transparent;
   color: black;
   border: 1px solid gray;
}
.order{
    margin-bottom: 5%;
    margin-top: 5%;
    display: none;
}
.order h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}
form{
    text-align: center;
    
}
form input{
    width: 400px;
    height: 33px;
    margin-top: 13px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}
form textarea{
    margin-top: 13px;
    width: 400px;
    font-size: 20px;
    padding: 5px;
    outline: none;
}
form button{
    width: 380px;
    height: 40px;
    margin-bottom: 15px;
    background-color:rgb(24, 126, 126) ;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    transition: 0.5s all ease-in-out;
}
form button:hover{
    background: transparent;
    border: 1px solid  gray;
    color: black;
}